:root{
    --purple: #8840E6;
    --blue: #5E00D6;
    --background-color-1: #EEECF1;
    --background-color-2: #ffff;
    --text-color-grey: #494D56;
    --text-color-black: #0000;
    --text-color-white: #ffff;
}

body{
    background-color: var(--purple);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}